{% if site.components.weather.enabled %}
<div class="weather-info">
    <div id="he-plugin-standard"></div>
</div>
<script>
    WIDGET = {
        "CONFIG": {
            "layout": "1",
            "width": "450",
            "height": "150",
            "background": "5",
            "dataColor": "FFFFFF",
            "key": "7f7d8e70fa9d44f1bd50866699ce48c7"
        }
    }
</script>
<script src="https://widget.qweather.net/standard/static/js/he-standard-common.js?v=2.0"></script>
{% endif %}
